<%- include('./partials/_header.ejs'); -%>
    <title>Productos</title>
</head>
<body class="principal">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="container mb-5 ">
                <a href="/compras/formCompra" class="btn btn-info mt-5"><i class="fas fa-plus"></i>  Nueva Compra</a>
                <nav class="navbar justify-content-between">
                    <a class="navbar-brand"></a>
                    <form class="form-inline" action="/compras/search" method="POST">
                        <input class="form-control mr-sm-2"
                        type="search"
                        name="search"
                        placeholder="Buscar"
                        aria-label="Search">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </nav>
                <% if (message && message.length > 0 ){%>
                    <div id="mensaje" class="alert alert-success alert-dismissible fade show message" role="alert">
                        <%=message%>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <%}%>
                <table class="table table-bordered table-striped mt-5">
                    <thead class="tablePrimary">
                        <tr>
                            <th>Num.</th>
                            <th>Código</th>
                            <th>Proveedor</th>
                            <th>Fecha</th>
                            <th>Subtotal</th>
                            <th>Ver más</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( i = compras.length-1; i >= 0 ; i--){%>
                            <tr>
                                <td><%= compras.length - i  %></td>
                                <td><%= compras[i].codigo %></td>
                                <td><%= compras[i].proveedor %></td>
                                <td><%= compras[i].fecha.getDate() %>-<%=compras[i].fecha.getMonth() %>-<%=compras[i].fecha.getFullYear()%></td>
                                <td><%= compras[i].subtotal %></td>
                                <td>
                                    <a href="/compras/detalles/<%= compras[i]._id %>"
                                    class="btn btn-info">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>