<%- include('./partials/_header.ejs'); -%>
    <title>Productos</title>
</head>
<body class="principal" onpaste="return false">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="d-flex">
            </div>
            <div class="d-flex mt-5">
                <div class="col-sm-4 text-center modal-dialog">
                    <div class="mainSection">
                        <div class="modal-content">
                            <div class="col-12 userImg">
                                <img class="imagen" src="/img/product.png" alt="Product">
                            </div>
                            <form action="/compras/addProducto/<%=newCompra._id%>" method="POST" class="col-12">
                                <div class="form-group detailGroup">
                                    <input class="form-control"
                                        name="detail"
                                        type="text"
                                        placeholder="Detalle"
                                        required>
                                </div>
                                <div class="form-group cantidadGroup">
                                    <input class="form-control"
                                    name="cantidad"
                                    type="number"
                                    placeholder="Cantidad"
                                    onkeypress='return validaCantidad(event)'
                                    required>
                                </div>
                                <div class="form-group pUnitGroup">
                                    <input class="form-control"
                                    name="pUnit"
                                    type="text"
                                    placeholder="Precio Unitario"
                                    onkeypress='return validaPrecio(event)'
                                    required>
                                </div>
                                <div class="btn-toolbar justify-content-md-center">
                                    <div class="btn-group">
                                        <button type="submit"
                                        id="btnAnadir"
                                        class="button btn btn-info form-control">
                                            <i class="fas fa-cart-plus"></i>  Añadir
                                        </button>
                                        <button type="submit" style="display: none;"
                                        id="btnEditar"
                                        class="button btn btn-warning form-control">
                                            <i class="fas fa-cart-plus"></i>  Editar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 mt-5 mr-3">
                    <% if (message && message.length > 0){%>
                        <div class="alert alert-success alert-dismissible fade show message" role="alert">
                            <%=message%>
                        </div>
                    <%}%>
                    <table class="table table-bordered table-striped">
                        <thead class="tablePrimary">
                            <tr>
                                <th>Num.</th>
                                <th>Detalle</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i < newCompra.productos.length; i++){%>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= newCompra.productos[i].producto.detalle %></td>
                                    <td><%= newCompra.productos[i].producto.cantidad %></td>
                                    <td><%= parseFloat(newCompra.productos[i].producto.precioTotal).toFixed(2) %></td>
                                    <td>
                                        <a
                                        class="btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#deleteModal">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="/compras/editProducto/<%=newCompra._id%>&<%=newCompra.productos[i].producto.id%>&<%=newCompra.productos[i].producto.cantidad%>&<%=newCompra.productos[i]._id%>"
                                        class="btn btn-info">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!-- Modal Delete-->
                                <div class="modal fade" id="deleteModal"
                                tabindex="-1" role="dialog"
                                aria-labelledby="deleteModalLabel"
                                aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content myModal">
                                        <div class="modal-header">
                                        <h4 class="modal-title text-danger" id="deleteModalLabel">
                                            <i class="fas fa-trash-alt"></i> Eliminar Producto
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body font-weight-bold text-center">
                                        <p>¿Está seguro de eliminar el producto <%=newCompra.productos[i].producto.detalle%>?</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a
                                        href="/compras/deleteProducto/<%=newCompra._id%>&<%=newCompra.productos[i].producto.id%>&<%=newCompra.productos[i].producto.cantidad%>&<%=newCompra.productos[i]._id%>"
                                        type="button"
                                        class="btn btn-danger">
                                            Eliminar
                                        </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="offset-9">
                        <a href="/compras"
                        data-toggle="modal"
                        data-target="#finalizarModal"
                        class="button btn btn-warning">
                            <i class="fas fa-arrow-alt-circle-left"></i>  Finalizar
                        </a>
                        <!-- Modal Finalizar-->
                        <div class="modal fade" id="finalizarModal"
                        tabindex="-1" role="dialog"
                        aria-labelledby="finalizarModalLabel"
                        aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content myModal">
                                <div class="modal-header">
                                <h4 class="modal-title text-info" id="finalizarModalLabel">
                                    <i class="fas fa-times-circle"></i> Finalizar
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body font-weight-bold text-center">
                                <p>¿Está seguro de no ingresar más productos?</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <a
                                href="/compras"
                                type="button"
                                class="btn btn-warning">
                                    Aceptar
                                </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>