<%- include('./partials/_header.ejs'); -%>
    <title>Venta</title>
</head>
<body class="principal" onpaste="return false">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <%- include('./partials/_message.ejs'); -%>
            <div class="d-flex">
                <!--Tabla de Búsqueda-->
                <div class="col-sm-6 text-center ">
                    <div class="mainSection">
                        <div class="modal-content">
                            <form class="form-inline mb-3" action="/ventas/search/<%= venta._id%>" method="POST">
                                <div class="form-group">
                                    <input class="form-control mr-sm-2 "
                                    type="search"
                                    name="search"
                                    placeholder="Buscar"
                                    aria-label="Search">
                                    <button class="btn btn-info my-1 my-sm-0" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                            <table class="table table-striped bg-warning">
                                <thead class="bg-warning">
                                    <tr>
                                        <th>Detalle</th>
                                        <th>Stock</th>
                                        <th>Precio</th>
                                        <th>Seleccionar</th>
                                    </tr>
                                </thead>
                                <tbody class="table-secondary">
                                    <%for(let i=0; i< producto.length; i++){%>
                                        <tr>
                                            <td><%=producto[i].detalle%></td>
                                            <td><%=producto[i].stock%></td>
                                            <td><%=parseFloat(producto[i].precioVenta).toFixed(2)%></td>
                                            <td>
                                                <a
                                                href="/venta/llenarProducto/<%=producto[i]._id%>&<%= venta._id%>"
                                                class="btn btn-success">
                                                    <i class="far fa-check-square" ></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <%}%>
                                    <%for(let i=0; i< promocion.length; i++){%>
                                        <tr>
                                            <td><%=promocion[i].detalle%></td>
                                            <td><%=promocion[i].stock%></td>
                                            <td><%=parseFloat(promocion[i].precio).toFixed(2)%></td>
                                            <td>
                                                <a href="/venta/llenarPromocion/<%=promocion[i]._id%>&<%= venta._id%>"
                                                class="btn btn-success">
                                                    <i class="far fa-check-square" ></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Formulario de ingreso de productos-->
                <div class="col-sm-6 text-center ">
                    <div class="mainSection">
                        <div class="modal-content">
                            <form  action="/venta/producto/<%= venta._id%>" method="POST">
                                <div class="row">
                                    <div class="col form-group detailGroup">
                                        <input type="text"
                                            name="detalle"
                                            class="form-control"
                                            placeholder="Producto"
                                            value="<%=pedido.detalle%>"
                                            readonly>
                                    </div>
                                    <div class="col form-group cantidadGroup">
                                        <input type="number"
                                        name="cantidad"
                                        id="cantidadProm"
                                        class="form-control"
                                        placeholder="Cantidad"
                                        value="1"
                                        min="1" max="<%=pedido.stock%>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <button
                                        type="submit"
                                        class="btn btn-warning offset-8 col-3"
                                        >
                                            <i class="fas fa-plus"></i>  Añadir
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Productos añadidos-->
            <div class="col-sm-12 mt-5 mr-3">
                <table class="table table-bordered table-striped">
                    <thead class="tablePrimary">
                        <tr>
                            <th>Num.</th>
                            <th>Detalle</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(venta.productos || venta.promocion){%>
                            <% for (let i= 0; i< venta.productos.length; i++){%>
                                <tr>
                                    <td><%= i+1%></td>
                                    <td><%=venta.productos[i].id.detalle%></td>
                                    <td><%=venta.productos[i].cantidad%></td>
                                    <td><%=parseFloat(venta.productos[i].total).toFixed(2)%></td>
                                    <td>
                                        <a
                                            href="/ventas/delete/producto/<%=venta._id%>&<%=venta.productos[i]._id%>"
                                            class="btn btn-danger"
                                        >
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            <%}%>
                            <% for (let i= 0; i< venta.promocion.length; i++){%>
                                <tr>
                                    <td><%= i+1%></td>
                                    <td><%=venta.promocion[i].id.detalle%></td>
                                    <td><%=venta.promocion[i].cantidad%></td>
                                    <td><%=parseFloat(venta.promocion[i].total).toFixed(2)%></td>
                                    <td>
                                        <a
                                            href="/ventas/delete/producto/<%=venta._id%>&<%=venta.promocion[i]._id%>"
                                            class="btn btn-danger"
                                        >
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            <%}%>
                        <%}%>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="tablePrimary"><strong>Total:</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>
                                <%=parseFloat(venta.total).toFixed(2)%>
                            </strong></td>
                            <td>
                                <a href=""
                                data-toggle="modal"
                                data-target="#finalizarModal"
                                class="button btn btn-warning mb-1">
                                    <i class="fas fa-arrow-alt-circle-left"></i>  Finalizar
                                </a>
                            </td>
                            <!-- Modal Finalizar-->
                            <div class="modal fade" id="finalizarModal"
                            tabindex="-1" role="dialog"
                            aria-labelledby="finalizarModalLabel"
                            aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content myModal">
                                    <div class="modal-header">
                                    <h4 class="modal-title text-info" id="finalizarModalLabel">
                                        <i class="fas fa-times-circle"></i> Finalizar
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body text-center">
                                    <p>¿Está seguro de finalizar la venta?</p>
                                    <p class="text-warning">Total a cancelar: <strong class="text-dark"><span>$</span><%=parseFloat(venta.total).toFixed(2)%></strong></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <a
                                    href="/ventas"
                                    type="button"
                                    class="btn btn-warning">
                                        Aceptar
                                    </a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>