<%- include('./partials/_header.ejs'); -%>
    <title>Editar Producto</title>
</head>
<body class="principal" onpaste="return false">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="d-flex">
            </div>
            <div class="d-flex mt-5">
                <div class="col-sm-4 text-center modal-dialog">
                    <div class="mainSection">
                        <div class="modal-content">
                            <div class="col-12 userImg">
                                <img class="imagen" src="/img/product.png" alt="Product">
                            </div>
                            <form action="/compras/editProducto/<%=newCompra._id%>&<%=prod._id%>&<%=idObjProd%>&<%=cant%>" method="POST" class="col-12">
                                <div class="form-group detailGroup">
                                    <input class="form-control"
                                        name="detail"
                                        type="text"
                                        placeholder="Detalle"
                                        value="<%=prod.detalle%>"
                                        required>
                                </div>
                                <div class="form-group cantidadGroup">
                                    <input class="form-control"
                                    name="cantidad"
                                    type="number"
                                    placeholder="Cantidad"
                                    value="<%=cant%>"
                                    onkeypress='return validaCantidad(event)'
                                    required>
                                </div>
                                <div class="form-group pUnitGroup">
                                    <input class="form-control"
                                    name="pUnit"
                                    type="text"
                                    placeholder="Precio Unitario"
                                    value="<%=prod.precioUnit%>"
                                    onkeypress='return validaPrecio(event)'
                                    required>
                                </div>
                                <div class="btn-toolbar justify-content-md-center">
                                    <div class="btn-group">
                                        <button type="submit"
                                        id="btnEditar"
                                        class="button btn btn-warning form-control">
                                            <i class="fas fa-cart-plus"></i>  Editar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 mt-5 mr-3">
                    <table class="table table-bordered table-striped">
                        <thead class="tablePrimary">
                            <tr>
                                <th>Num.</th>
                                <th>Detalle</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i < newCompra.productos.length; i++){%>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= newCompra.productos[i].producto.detalle %></td>
                                    <td><%= newCompra.productos[i].producto.cantidad %></td>
                                    <td><%= parseFloat(newCompra.productos[i].producto.precioTotal).toFixed(2) %></td>
                                    <td>
                                        <a
                                        href="/compras/deleteProducto/<%=newCompra._id%>&<%=newCompra.productos[i].producto.id%>&<%=newCompra.productos[i].producto.cantidad%>&<%=newCompra.productos[i]._id%>"
                                        class="btn btn-danger" disabled>
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="/compras/editProducto/<%=newCompra._id%>&<%=newCompra.productos[i].producto.id%>&<%=newCompra.productos[i]._id%>"
                                        class="btn btn-info" disabled>
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="offset-9">
                        <a href="/compras" class="button btn btn-warning">
                            <i class="fas fa-arrow-alt-circle-left"></i>  Finalizar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>