<%- include('./partials/_header.ejs'); -%>
    <title>Productos</title>
</head>
<body class="principal">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="container mb-5 ">
                <nav class="navbar justify-content-between mt-lg-5">
                    <a class="navbar-brand"></a>
                    <form class="form-inline" action="/productos/search" method="POST">
                        <input class="form-control mr-sm-2"
                        type="search"
                        name="search"
                        placeholder="Buscar"
                        aria-label="Search">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </nav>
                <%- include('./partials/_message.ejs'); -%>
                <table class="table table-bordered table-striped mt-5">
                    <thead class="tablePrimary">
                        <tr>
                            <th>Num.</th>
                            <th>Detalle</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( i = productos.length-1; i >= 0 ; i--){%>
                            <tr>
                                <td><%= productos.length - i  %></td>
                                <td><%= productos[i].detalle %></td>
                                <td><%= productos[i].stock %></td>
                                <td><%= parseFloat(productos[i].precioVenta).toFixed(2) %></td>
                                <td>
                                    <a href="/productos/delete/<%= productos[i]._id %>"
                                        class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <a href="/productos/editar/<%= productos[i]._id %>"
                                        class="btn btn-info"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Editar">
                                            <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="/venta/llenarProducto/<%=productos[i]._id%>&"
                                        class="btn btn-success"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Vender">
                                            <i class="fab fa-sellcast"></i>
                                    </a>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>