<%- include('./partials/_header.ejs'); -%>
    <title>Productos</title>
</head>
<body class="principal">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="container mb-5 ">
                <a href="/promociones/add" class="btn btn-info mt-5"><i class="fas fa-plus"></i>  Nueva Promoción</a>
                <nav class="navbar justify-content-between">
                    <a class="navbar-brand"></a>
                    <form class="form-inline" action="/promociones/searchPromocion" method="POST">
                        <input class="form-control mr-sm-2"
                        type="search"
                        name="search"
                        placeholder="Buscar"
                        aria-label="Search">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </nav>
                <%- include('./partials/_message.ejs'); -%>
                <table class="table table-bordered table-striped mt-3">
                    <thead class="tablePrimary">
                        <tr>
                            <th>Num.</th>
                            <th>Código</th>
                            <th>Detalle</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Contenido</th>
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <% for(let i = promociones.length-1; i>=0; i--){%>
                            <tr>
                                <td><%=promociones.length-i%></td>
                                <td><%=promociones[i].codigo%></td>
                                <td><%=promociones[i].detalle%></td>
                                <td><%=promociones[i].stock%></td>
                                <td><%=promociones[i].precio%></td>
                                <% for(let j=0; j < promociones[i].productos.length; j++){%>
                                    <td class="d-flex justify-content-between ">
                                        <%=promociones[i].productos[j].id.detalle%>
                                        <span class="badge">
                                            <%=promociones[i].productos[j].cantidad%>
                                        </span>
                                    </td>
                                <%}%>
                                <td>
                                    <a
                                    href="/promociones/deleteProd/<%=promociones[i]._id%>"
                                    class="btn btn-danger"
                                    >
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <a href="/venta/llenarPromocion/<%=promociones[i]._id%>&"
                                        class="btn btn-success"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Vender">
                                            <i class="fab fa-sellcast"></i>
                                    </a>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>