<%- include('./partials/_header.ejs'); -%>
    <title>Registro</title>
</head>
<body class="principal" onpaste="return false">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="text-center modal-dialog">
                <div class="col-sm-8 mainSection">
                    <div class="modal-content">
                        <div class="col-12 userImg">
                            <img class="imagen" src="/img/avatar.png" alt="Avatar">
                        </div>
                        <% if (RegistroMessage && RegistroMessage.length > 0 ){%>
                            <div class="alert alert-danger alert-dismissible fade show message" role="alert">
                                <%=RegistroMessage%>
                            </div>
                        <%}%>
                        <form action="/user/register" method="POST" class="col-12">
                            <input type="hidden" name="userLog" value="<%= user._id %>">
                            <div class="form-group nameGroup">
                                <input class="form-control"
                                name="name"
                                type="text"
                                placeholder="Nombre"
                                required>
                            </div>
                            <div class="form-group lastnameGroup">
                                <input class="form-control"
                                name="lastName"
                                type="text"
                                placeholder="Apellido"
                                required>
                            </div>
                            <div class="form-group idGroup">
                                <input class="form-control"
                                name="cedula"
                                id="cedula"
                                type="number"
                                placeholder="Identificación"
                                required
                                onkeypress='return validaNumericos(event)'
                                onblur="comprobarCedula()">
                            </div>
                            <div id="cedError"></div>
                            <div class="form-group userGroup">
                                <input class="form-control"
                                name="usuario"
                                type="text"
                                placeholder="Usuario"
                                required>
                            </div>
                            <div class="form-group passwordGroup">
                                <input class="form-control"
                                name="password"
                                type="password"
                                placeholder="Contraseña"
                                required>
                            </div>
                            <div class="input-group mb-3">
                                <select class="custom-select rolGroup" name="rol" >
                                    <option value="admin">Administrador</option>
                                    <option value="vendedor">Vendedor</option>
                                </select>
                            </div>
                            <div class="btn-toolbar">
                                <div class="btn-group mr-5">
                                    <a href="/users" class="button btn btn-warning form-control">
                                        <i class="fas fa-arrow-alt-circle-left"></i>  Cancelar
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="button btn btn-info form-control">
                                        <i class="fas fa-sign-in-alt"></i>  Registrar
                                    </button>
                                </div>
                            </div >
                        </form>
                        <div class="col-12 forgot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>