<%- include('./partials/_header.ejs'); -%>
    <title>Usuarios</title>
</head>
<body class="principal">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <div class="container mb-5 ">
                <a href="/user/formregister" class="btn btn-info mt-5"><i class="fas fa-user-plus"></i>  Nuevo Usuario</a>
                <% if (deleteMessage && deleteMessage.length > 0 ){%>
                    <div id="mensaje" class="alert alert-success alert-dismissible fade show message" role="alert">
                        <%=deleteMessage%>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%}%>
                <% if (editMessage && editMessage.length > 0 ){%>
                    <div id="mensaje" class="alert alert-success alert-dismissible fade show message" role="alert">
                        <%=editMessage%>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <%}%>
                <table class="table table-bordered table-striped mt-5">
                    <thead class="tablePrimary">
                        <tr>
                            <th>Num.</th>
                            <th>Usuario</th>
                            <th>Cedula</th>
                            <th>Rol</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Operación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < usuarios.length ; i++) {%>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= usuarios[i].user %></td>
                                <td><%= usuarios[i].identify %></td>
                                <td><%= usuarios[i].rol %></td>
                                <td><%= usuarios[i].name %></td>
                                <td><%= usuarios[i].lastname %></td>
                                <% if( user.user != usuarios[i].user){ %>
                                <td>
                                    <a
                                        class="btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#deleteModal">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <a href="/user/edit/<%= usuarios[i]._id %>" class="btn btn-info"><i class="fas fa-pen"></i></a>
                                </td>
                                <!-- Modal Delete-->
                                <div class="modal fade" id="deleteModal"
                                tabindex="-1" role="dialog"
                                aria-labelledby="deleteModalLabel"
                                aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content myModal">
                                        <div class="modal-header">
                                        <h4 class="modal-title text-danger" id="deleteModalLabel">
                                            <i class="fas fa-user-times"></i> Eliminar Usuario
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body font-weight-bold text-center">
                                        <p>¿Está seguro de eliminar el Usuario <%=usuarios[i].user%>?</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a
                                            href="/user/delete/<%= usuarios[i]._id %>"
                                            type="button"
                                            class="btn btn-danger">
                                            Eliminar
                                        </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>